@charset "UTF-8";
/* 公共 */
.icon {
  background-image: url(../img/home_icons.png);
}
.wid1000{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
a:hover{
	text-decoration: none;
}
/*头部*/
#head{
	position: relative;
    width: 100%;
    top: 0;
    font-size: 14px;
    background-color: #DCEDE7;
    z-index: 10;
    height: 50px;
}
#head em{
	float: left;
	width:133px;
	height:46px;
	background-position:-4px -3px;
}

/* 登陆部分 */
#container{
	height: 576px;
	background: url(../img/login.jpg);
}
.wrap-login{
	height: 556px;
}
.box-login{
	width: 289px;
    position: absolute;
    right: 8%;
    top: 10%;
    background: transparent;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #e1e7e9;
	box-shadow: 1px 1px 10px #264A75;
}
.login-head{
	padding: 8px 0;
	border-bottom: 1px solid #f3f4f4;
	margin-bottom: 17px;
}
.login-title{
	font-size: 14px;
  	text-align: left;
  	color: #000;
  	padding-left: 22px;
}
.login-body{
	width: 256px;
	margin: 0 auto;
}
.input-wrapper{
	margin-bottom: 8px;
    width: 256px;
    position: relative;
    background-repeat: no-repeat;
}
.login-input{
	border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px #c1c1c1 inset;
    font-size: 16px;
    padding: 0 12px;
    width: 232px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.login-input:focus {
	border: 2px solid #FFC366;
}

#account{
	background-position: 0 0;
}
#pwd{
	background-position: 0 -34px;
}
.captcha-wrapper{
	margin-bottom: 6px;
	width: 256px;
	height: 34px;
	position: relative;
}
.captcha-input{
	width: 100%;	
}
.captcha-box{
	float: left;
	width: 60%;	
	/* width: 133px;
	border: 1px solid #ccc;
	padding-left: 50px;
	background: url(../img/login_icon.png) 0 -68px no-repeat; */
}
.captcha-wrapper img{
	float: right;
	width: 92px;
	height: 34px;
	border: 1px solid #ccc;
	cursor:pointer;
	box-sizing: border-box;

}
.ui-botton{
	display: inline-block;
    line-height: 40px;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 0;  
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.login-botton{
	width: 256px;
    height: 37px;
    line-height: 37px;
    color: #fff;
    background-color: #CF0110;
    border: 1px solid #95281B;
}
.login-botton:hover {
	background: -webkit-linear-gradient(top,#F2203F 0%, #B60512 100%);
    background:         linear-gradient(top,#F2203F 0%, #B60512 100%);
}
.registe-botton{
	width: 256px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #C2C2C2;
    color: #4a4a4a;
    background: -webkit-linear-gradient(top,#FBFEFF 0%, #E8EDF1 100%);
    background:         linear-gradient(top,#FBFEFF 0%, #E8EDF1 100%);
}
.registe-botton:hover {
    background: -webkit-linear-gradient(top,#FBFEFF 0%, #D7DFE5 100%);
    background:         linear-gradient(top,#FBFEFF 0%, #D7DFE5 100%);
}
.tip{
	width: 120px;
	height: 32px;
	background: #feeac1;
	border: 1px solid #fcc449;
	position: absolute;
	right: -135px;
	top: 0;
	color: #ec3c03;
	text-align: center;
	line-height: 32px;
	display: none;
}
.forgetpassword{
    padding-bottom: 6px;
    float: right;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    width: 100%;
}
.forgetpassword > a{
	float: right;
    color: #59ABE3;
    cursor: pointer;
}
.login-logo{
	text-align: center;
    padding: 15px 0 8px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}




























/*底部*/
#foot{
	padding: 26px 0;
	background-color: #fff;
	color: #9a9aac;
}
#foot a{
	color: #9a9aac;
	text-decoration: none;
}
#foot li{
	float: left;
}
#foot .fl-first li{
	border-left: 1px solid #343742;
	padding: 0 10px;
	line-height: 1;
}
#foot .fl-first li:first-child{
	padding-left: 0;
	border: none;
}
#foot .fr li{
	margin-left: 24px;
	line-height: 1;
	font-size: 12px;
}
.contact-index{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 25px;
}
.icon-tele{
	display: inline-block;
	width: 38px;
	height: 38px;
	vertical-align: middle;
	margin-right: 12px;
	background-position:-7px -413px;
}
.icon-qq-index{
	position: relative;
	display: inline-block;
	width: 39px;
	height: 39px;
	margin: 0 8px;
	margin-left: 48px;
	vertical-align: middle;
	background-position:-57px -414px;
}
.icon-qq-index img,.icon-wx-index img{
	position: absolute;
	display: none;
	top: -160px;
	left: -50px;
}
.icon-qq-index:hover img,.icon-wx-index:hover img{
	display: block;
}
.icon-qq-index:hover{
	background-position:-57px -455px;
	cursor: pointer; 
}
.icon-wx-index{
	position: relative;
	display: inline-block;
	width: 39px;
	height: 39px;
	margin: 0 8px;
	vertical-align: middle;
	background-position:-110px -414px;
}
.icon-wx-index:hover{
	background-position:-110px -455px;
	cursor: pointer;
}
.icon-weibo-index{
	display: inline-block;
	width: 39px;
	height: 39px;
	margin: 0 8px;
	vertical-align: middle;
	background-position:-161px -414px;
}
.icon-weibo-index:hover{
	background-position:-161px -455px;
	cursor: pointer;
}

/*css部分*/
.dialog-browser-detection {
	color: #666;
	font-size: 14px;
}
.dialog-browser-detection h2 {
	color: #f37632;
    font-size: 18px;
    text-align: center;
}
.dialog-browser-detection p {
	text-align: center;
}
.dialog-browser-detection .down-brower {
	float: left;
    width: 100%;
    text-align: center;
}
.dialog-browser-detection .down-brower ul {
	width: 390px;
    margin: 0 auto;
}
.dialog-browser-detection .down-brower li {
    width: 149px;
    height: 131px;
    float: left;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.dialog-browser-detection .down-brower li:hover {
	border-radius: 10px;
    box-shadow: 1px 1px 15px #ccc;
}
.dialog-browser-detection .grey {
	color: #ccc;
}
.dialog-browser-detection .accept {
	color: #546eb3;
	font-size: 12px;
	text-decoration: underline;
}